---
import Section from "@/components/Section.astro";
---

<Section>
    <p class="no-print">
        Insipirado en el repositorio de <a
            href="https://github.com/midudev/minimalist-portfolio-json"
            >@midudev</a
        >
    </p>
</Section>
<style>
    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        color: #ffffff;
        background-color: rgb(5, 14, 136);
        padding: 4px 8px;
        border-radius: 3px;
        margin: 0 10px;
    }

    a:hover {
        background-color: rgb(114, 8, 146);
    }
</style>
